<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inventory</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid size="4">
    <ion-item *ngFor="let item of inventoryData; let i = index" lines="none">
      <ion-chip color="primary" style="font-size: 1.2rem; font-weight: bold;">
        {{ i + 1 }}
      </ion-chip>
  
      <ion-card style="width: 100%; margin: 10px 0; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
        <ion-card-header style="background-color: #f4f5f8; border-radius: 10px 10px 0 0; padding: 10px;">
          <ion-card-title style="font-size: 1.25rem; font-weight: bold;">{{ item.name }}</ion-card-title>
        </ion-card-header>
  
        <ion-card-content style="padding: 15px;">
          <p>{{ item.description }}</p>
        </ion-card-content>
      </ion-card>
      
      <ion-button slot="end" color="secondary" (click)="goToStock(item.id)" shape="round" fill="outline">
        Stock
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-grid>
</ion-content>
